body{
    background-color: lightsalmon;
}

img {
      width: 200px;
      height: 200px;
      border-radius: 20px;
      display: block;
     margin: auto;

}
.img1{
    border-radius: 500px;
    margin-right:20px;
    margin: auto;
}

